/* Task Management System - Print CSS */

body { min-width: 100px; }

#spinner { display: none; }
#fixed-column { display: none; }
#toolbar { display: none; }
#backbar { display: none; }

#timebar { display: none; }
#content { position: relative; margin: 0px; width: 100%; }
		
.row-entry .row-link { display: none; }