/* Task Management System - Internet Explorer Fixes */

.toolbar-buttons li a {
	padding: 8px 10px 12px 10px;
	background-position: 100% 0px;}
		
.toolbar-buttons li a:active {
	background-position: 100% -34px;}

.timebar-buttons li a:active {
	background-position: 100% -28px;}
	
#backbar ul li input {
			margin-top: -5px;}
