/* Task Management System - Main CSS */


/* Global styles */
html { height: 100%; }

body {
	background: #CCCCCC;
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: center;
	height: 100%;
	min-width: 960px;
	margin: 0px;
	padding: 0px;}
	
h1	{ font-size: 24px; margin: 0px; }
h2	{ font-size: 16px; margin: 0px; }
h3	{ font-size: 12px; margin: 0px; }
	
ul { margin: 0px; padding: 0px; }

img { border: none; }

.center	{ text-align: center !important; }

#spinner { position: fixed; top: 53px; left: 25px; }


/* Link styles */
a:link		{ color: #336688; font-weight: bold; text-decoration :none; }
a:visited	{ color: #336688; font-weight: bold; text-decoration :none; }
a:hover		{ color: #336688; font-weight: bold; text-decoration :underline; }
a:active	{ color: #333333; font-weight: bold; text-decoration :underline; }
a:focus		{ outline: none; }


/* Fixed layout elements */
#wrapper {
	height: 100%;
	text-align: left;}


/* Navigation links in left hand column */
#fixed-column {
	position: fixed;
	float: left;
	width: 198px;
	height: 100%;
	margin-right: -200px;
	border-right: 2px #333333 solid;
	background: #D6DDE5;}
	
	#source-list {
		padding: 10px;
		padding-top: 100px;
		list-style: none;
		font-weight: bold;
		font-size: 14px;}
		
		#source-list li {
			height: 34px;
			line-height: 14px;
			background: #D6DDE5 url('../ui-images/source-button.gif');
			background-position: 0px 0px;}
		
			#source-list li a {
				display: block;
				padding: 9px 10px 11px 15px;
				color: #333333;
				text-decoration: none;}
	
		#source-list li:hover {
			background-position: 0px -34px;}
		
			#source-list li:hover a {
				}
				
		#source-list li:active {
			background-position: 0px -68px;}
		
			#source-list li:hover a {
			}
	
		#source-list li.active {
			background: #333333 url('../ui-images/source-button.gif');
			background-position: 0px -102px;}
		
			#source-list li.active a {
				color: #FFFFFF;}


/* Main display area */
#dynamic-column {
	width: 100%;
	height: 100%;}
	
	
	/* Application toolbar at top of window */
	#toolbar {
		top: 0px;
		height: 45px;
		margin-left: 200px;
		overflow: hidden;
		text-align: center;
		background: #333333 url('../ui-images/toolbar.gif');}
		
		#backbar ul {
			position: absolute;
			left: 210px;
			list-style: none;
			font-weight: bold;
			font-size: 12px;}
			
		#backbar ul li input {
			width: 300px;
			height: 18px;
			line-height: 16px;
			font-size: 12px;
			margin-top: -10px;}
		
		.toolbar-buttons {
			margin-top: 5px;
			list-style: none;
			font-weight: bold;
			font-size: 12px;}
		
			.toolbar-buttons li {
				float: right;
				height: 14px;
				line-height: 14px;
				margin-right: 5px;
				padding: 9px 0px 11px 0px;
				background: #333333 url('../ui-images/toolbar-button-left.gif');
				background-position: 0px 0px;}
				
				.toolbar-buttons li.searchbox {
				float: left;
				background: none;}
				
			.toolbar-buttons li.back-button {
				float: left;
				background: #333333 url('../ui-images/back-button-left.gif');
				background-position: 0px 0px;}
				
			.toolbar-buttons li.red-button {
				background: #333333 url('../ui-images/toolbar-button-red-left.gif');
				background-position: 0px 0px;}
			
				.toolbar-buttons li a {
					height: 14px;
					line-height: 14px;
					padding: 9px 10px 10px 11px;
					color: #FFFFFF;
					text-decoration: none;
					background: url('../ui-images/toolbar-button-right.gif') no-repeat;
					background-position: 100% 0px;}
					
				.toolbar-buttons li.back-button a {
					padding-left: 16px;}
					
				.toolbar-buttons li.red-button a {
					background: url('../ui-images/toolbar-button-red-right.gif') no-repeat;
					background-position: 100% 0px;}
					
			.toolbar-buttons li:hover {
				background-position: 0px -34px;}
			
				.toolbar-buttons li a:hover {
					background-position: 100% -34px;}
					
			.toolbar-buttons li:active {
				background-position: 0px -68px;}
			
				.toolbar-buttons li a:active {
					background-position: 100% -68px;}
		
	
	/* Time based navigation bar displayed below toolbar */
	#timebar {
		top: 40px;
		height: 28px;
		margin-left: 200px;
		overflow: hidden;
		background: #999999 url('../ui-images/timebar.gif');}
		
		.timebar-buttons {
			list-style: none;
			padding-left: 10px;
			font-weight: bold;
			font-size: 10px;}
		
			.timebar-buttons li {
				float: left;
				height: 26px;
				line-height: 28px;
				margin-right: -8px;
				padding: 0px 0px 0px 0px;
				background: #999999 url('../ui-images/timebar-buttons-left.gif');
				background-position: 0px 0px;}
			
				.timebar-buttons li a {
					padding: 8px 16px 8px 16px;
					color: #333333;
					text-decoration: none;
					background: url('../ui-images/timebar-buttons-right.gif') no-repeat;
					background-position: 100% 0px;}
					
			.timebar-buttons li:hover {
				background-position: 0px -28px;}
			
				.timebar-buttons li a:hover {
					color: #FFFFFF;
					background-position: 100% -28px;}
					
			.timebar-buttons li:active {
				background-position: 0px -56px;}
			
				.timebar-buttons li a:active {
					background-position: 100% -56px;}		
					
			.timebar-buttons li.active {
				background-position: 0px -56px;}
				
			.timebar-buttons li.active a {
				color: #FFFFFF;
				background-position: 100% -56px;}
					
			.timebar-buttons li.label {
				margin: 0px 2px 0px 10px;
				background-position: 0px 0px;}
		
	
	/* Main content display area */
	#content {
		top: 60px;
		margin-left: 200px;}
		
		
		/* Login form */
		#login-form {
			width: 320px;
			height: 120px;
			margin: auto;
			margin-top: 100px;}
			
			input.username-field, input.password-field {
				width: 284px;
				height: 25px;
				line-height: 25px;
				margin: 10px 0px 10px 0px;;
				font-size: 14px;
				font-weight: bold;}
				
			input.login-button {
				width: 144px;
				height: 34px;
				margin: 2px 0px 10px 145px;
				border: 2px #333333 solid;
				font-size: 16px;
				font-weight: bold;
				color: #222222;
				background: #EEEEEE;}
				
			input.login-button:hover {
				background: #DDDDDD;}
				
			input.login-button:active {
				background: #CCCCCC;}
				
			input.login-button:focus {
				outline: none;}


/* Classes for common UI elements */

.column-headers {
	height: 19px;
	line-height: 20px;
	padding: 1px 15px 0px 15px;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background: #BBBBBB url('../ui-images/column-headers.gif');}
	
	.column-headers span {
		float: left;}
	
.row-entry {
	height: 28px;
	line-height: 28px;
	padding: 5px 15px 5px 15px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px #999999 solid;
	background: #FFFFFF;}
		
	.row-entry:hover {
		background: #EEEEEE;}
		
	.row-entry:active {
		background: #DDDDDD;}
		
	.row-entry a {
		display: block;
		width: 100%;
		color: #333333;
		text-decoration: none;}
	
	.row-entry .row-link {
		width: 50px;
		padding-right: 15px;
		text-align: right;
		color: #444444;
		background: url('../ui-images/more-arrow.gif');
		background-position: right;
		background-repeat: no-repeat;}
		
		.row-entry .row-link-red {
			color: #FF0000;
			background: none;}

			.row-link-red a {
				color: #FF0000;}
		
	.row-entry span {
		float: left;}
	
	.row-column-label {
		padding-left: 15px;}
		
	.row-column-narrow {
		width: 10%;}
		
	.row-column-wide {
		width: 16%;}
		
	.row-column-very-wide {
		width: 34%;}
		
	.row-column-button {
		float: right;
		width: 120px;
		margin-top: -20px;
		margin-right: 50px;}
		
	.row-column-button-left {
		margin-left: 15px;
		width: 220px;}


/* Columns for Staff Members display */
.staff-row-name {
	width: 35%;}
	
.staff-row-email {
	width: 30%;}
	
	.row-entry .staff-row-email {
		color: #336688;}
	
.staff-row-workload {
	width: 25%;}


/* Columns for Current Modules display */
.module-row-code {
	width: 15%;}
	
.module-row-name {
	width: 65%;}
	
	.row-entry .module-row-name {
		color: #336688;}
		
.module-row-weighting {
	width: 10%;
	text-align: center;}
	
	
/* Columns for Admin Tasks display */
.admin-row-name {
	width: 35%;}
	
.admin-row-description {
	width: 45%;}
	
	.row-entry .admin-row-description {
		color: #336688;}
		
.admin-row-weighting {
	width: 10%;
	text-align: center;}
	
	
/* Columns for Research Duties display */
.research-row-name {
	width: 15%;}
	
.research-row-type {
	width: 15%;}
	
.research-row-description {
	width: 50%;}
	
	.row-entry .research-row-description {
		color: #336688;}
		
.research-row-weighting {
	width: 10%;
	text-align: center;}
		
		
/* Detailed information display */
.slide-panel {
	background: #FFFFFF;}

.form {
	padding: 15px;}

.form-label {
	width: 150px;
	float: left;
	padding-right: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	text-align: right;}

.form-field {
	font-size: 14px;}
	
.checkbox {
	font-size: 12px;
	line-height: 14px;
	vertical-align: bottom;}

/* MISC */

.listcolor0 { background: #ffffff; color: #000000;}
.listcolor1 { background: #ddeeff; color: #000000;}
.listgroup { background: #eeeeee; color: #000000; border-top: #555555 solid 1px;}
